<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioki.key">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lock_launcher_alone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lock_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.ioki.key.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ioki.key.Dashboard" />
        <activity android:name="com.ioki.key.RegisterUserName" />
        <activity android:name="com.ioki.key.RegisterPassword" />
        <activity android:name="com.ioki.key.RegisterPIN" />
        <activity android:name="com.ioki.key.RegisterEmail" />
        <activity android:name="com.ioki.key.RegisterMobile"/>
        <activity android:name="com.ioki.key.OtpActivity"/>

        <receiver
            android:name=".MySMSBroadCastReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>